body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
}
.hidden {
    display: none;
}

img {
    width: 100%;
}

// carousal overlay
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    opacity: 0.50;
    z-index: 100;
}